[Unit]
Description=Ethtool configuration for eth0
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/sbin/connmand-wait-online --timeout=10
ExecStart=/usr/sbin/ethtool -K eth0 tx off
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
