[Unit]
Description=Debug Shell on /dev/ttyFIQ0
DefaultDependencies=no
ConditionKernelCommandLine=|console=ttyFIQ0

[Service]
WorkingDirectory=/storage
Environment="ENV=/etc/profile"
ExecStartPre=/bin/sh -c 'echo -en "\033[?25h"'
ExecStart=/bin/sh
Restart=always
RestartSec=0
StandardInput=tty
TTYPath=/dev/ttyFIQ0
KillMode=process
IgnoreSIGPIPE=no
# bash ignores SIGTERM
KillSignal=SIGHUP

[Install]
WantedBy=sysinit.target
