[Unit]
Description=ZRAM service

[Service]
Type=simple
ExecStart=/bin/sh -c "echo 256M > /sys/block/zram0/disksize ; /sbin/mkswap /dev/zram0 ; /usr/sbin/swapon /dev/zram0"

[Install]
WantedBy=basic.target
