[Unit]
Description=Amlogic dummy WiFi module loader

[Service]
Type=simple
ExecStart=/bin/sh -c "[ ! -e /sys/class/net/wlan0 ] && /sbin/modprobe wifi_dummy ; sleep 2; [ ! -e /sys/class/net/wlan0 ] && echo 1 > /sys/module/wifi_dummy/parameters/trigger"

[Install]
WantedBy=basic.target
