[Unit]
Description=Amlogic dummy WiFi module loader

[Service]
Type=simple
ExecStart=/bin/sh -c "if ! grep -q 0bda /sys/bus/usb/devices/*/idVendor ; then /sbin/modprobe wifi_dummy ; fi; sleep 2; if ! grep -q 0bda /sys/bus/usb/devices/*/idVendor ; then echo 1 > /sys/module/wifi_dummy/parameters/trigger ; fi"

[Install]
WantedBy=basic.target
