[Unit]
Description=attach /dev/ttymxc2 with %I to BlueZ stack
ConditionPathExists=/dev/ttymxc2

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/hciattach /dev/ttymxc2 %I
