[Unit]
Description=RDU network setup
After=network-pre.target
ConditionPathExistsGlob=/flash/imx6*-zii-rdu2.dtb

[Service]
Type=oneshot
ExecStart=/usr/bin/rdu-network start
RemainAfterExit=true
ExecStop=/usr/bin/rdu-network stop

[Install]
WantedBy=multi-user.target
