[Unit]
Description=RDU audio setup
After=sound.target
ConditionPathExistsGlob=/flash/imx6*-zii-rdu2.dtb

[Service]
Type=oneshot
ExecStart=/usr/bin/rdu-audio 80
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
