# GO-Super Gamepad

input_driver = "udev"
input_device = "GO-Super Gamepad"
input_device_display_name = "ODROID-GO Super Gamepad"
input_vendor_id = "18507"
input_product_id = "4352"

input_a_btn = "1"
input_b_btn = "0"
input_x_btn = "2"
input_y_btn = "3"
input_a_btn_label = "A"
input_b_btn_label = "B"
input_x_btn_label = "X"
input_y_btn_label = "Y"

input_select_btn = "12"
input_start_btn = "13"
input_select_btn_label = "Select"
input_start_btn_label = "Start"

input_up_btn = "8"
input_down_btn = "9"
input_left_btn = "10"
input_right_btn = "11"
input_up_btn_label = "Dpad Up"
input_down_btn_label = "Dpad Down"
input_left_btn_label = "Dpad Left"
input_right_btn_label = "Dpad Right"

input_l_btn = "4"
input_r_btn = "5"
input_l2_btn = "6"
input_r2_btn = "7"
input_l3_btn = "14"
input_r3_btn = "17"
input_l_btn_label = "L"
input_r_btn_label = "R"
input_l2_btn_label = "L2"
input_r2_btn_label = "R2"
input_l3_btn_label = "I"
input_r3_btn_label = "IV"

input_l_x_plus_axis = "+0"
input_l_x_minus_axis = "-0"
input_l_y_plus_axis = "+1"
input_l_y_minus_axis = "-1"
input_l_x_plus_axis_label = "LS Right"
input_l_x_minus_axis_label = "LS Left"
input_l_y_plus_axis_label = "LS Down"
input_l_y_minus_axis_label = "LS Up"

input_r_x_plus_axis = "+2"
input_r_x_minus_axis = "-2"
input_r_y_plus_axis = "+3"
input_r_y_minus_axis = "-3"
input_r_x_plus_axis_label = "RS Right"
input_r_x_minus_axis_label = "RS Left"
input_r_y_plus_axis_label = "RS Down"
input_r_y_minus_axis_label = "RS Up"

# button number "15" as button label "II" is not assigned here, free key
# button number "16" as button label "III" is not assigned here, free key
