# build directorys
/build.*/
/.fakeroot.*

# automatically downloaded source files
/sources/
/.stamps/

# prebuild target binarys to provide
/target/

# scripts for getting and packing source packages
/tools/mkpkg/*
!/tools/mkpkg/mkpkg_*

# mkpkg temp
mkpkg-temp

# private working directory
/.work/

# symlinks...
/sources
/.work

# backup files
*.orig

# crap
.DS_Store
