[Unit]
Description=Restore full range after suspend
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=-/bin/sh "/usr/bin/intel-fullrange.sh"

[Install]
WantedBy=sleep.target
