[Unit]
Description=intel switch to full range
Before=kodi.service
After=graphical.target

[Service]
Type=oneshot
Environment=DISPLAY=:0.0
ExecStart=-/bin/sh "/usr/bin/intel-fullrange.sh"
StandardError=null
RemainAfterExit=yes

[Install]
WantedBy=kodi.target
