[Unit]
Description=%p container
Requires=service.system.docker.service
After=service.system.docker.service

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=0
ExecStart=/bin/sh /storage/.kodi/addons/%p/bin/%p
ExecStop=/storage/.kodi/addons/service.system.docker/bin/docker kill %p

[Install]
WantedBy=multi-user.target
