ACTION=="add", SUBSYSTEM=="sound", KERNEL=="pcmC*", ATTRS{id}=="vc4hdmi*", \
  ENV{.snd_card}="$id", \
  RUN+="/bin/sh -c 'echo 1280 > /proc/asound/$env{.snd_card}/pcm0p/sub0/prealloc'"
