SUBSYSTEM!="sound", GOTO="sound_end"
KERNEL!="card*", GOTO="sound_end"
TEST=="/sys/class/switch/hdmi_audio", GOTO="sound_end"

ATTRS{id}=="tegrasndt210ref", ACTION=="change", RUN+="/bin/ln -sf /etc/asound.conf.tegrasndt210ref /etc/asound.conf"
ATTRS{id}=="tegrasndt186ref", ACTION=="change", RUN+="/bin/ln -sf /etc/asound.conf.tegrasndt186ref /etc/asound.conf"
ATTRS{id}=="tegrasndt19xmob", ACTION=="change", RUN+="/bin/ln -sf /etc/asound.conf.tegrasndt194ref /etc/asound.conf"

LABEL="sound_end"
