SUBSYSTEM!="switch", GOTO="hdmi_end"
KERNEL!="hdmi_audio", GOTO="hdmi_end"

ATTRS{state}=="1", TEST=="/proc/asound/tegrahda", RUN+="/bin/ln -sf /etc/asound.conf.tegrahda /etc/asound.conf"
ATTRS{state}=="0", TEST=="/proc/asound/tegrasndt210ref", RUN+="/bin/ln -sf /etc/asound.conf.tegrasndt210ref /etc/asound.conf"
ATTRS{state}=="0", TEST=="/proc/asound/tegrasndt186ref", RUN+="/bin/ln -sf /etc/asound.conf.tegrasndt186ref /etc/asound.conf"

ATTRS{state}=="1", TEST=="/proc/asound/tegrahdagalent1", RUN+="/bin/ln -sf /etc/asound.conf.tegrahdat194ref /etc/asound.conf"
ATTRS{state}=="0", TEST=="/proc/asound/tegrasndt19xmob", RUN+="/bin/ln -sf /etc/asound.conf.tegrasndt194ref /etc/asound.conf"

LABEL="hdmi_end"
