ACTION=="remove" GOTO="nvidia_end"
KERNEL=="camera.pcl", RUN+="/usr/sbin/camera_device_detect"

# root only devices
KERNEL=="knvrm" OWNER="root" GROUP="root" MODE="0660"
KERNEL=="knvmap" OWNER="root" GROUP="root" MODE="0660"

# graphics devices
KERNEL=="l3cache" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="nvmap" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="nvram" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="nvhdcp*" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="nvhost*" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="nvhost-dbg-gpu" OWNER="root" GROUP="root" MODE="0660"
KERNEL=="nvhost-prof-gpu" OWNER="root" GROUP="root" MODE="0660"
KERNEL=="tegra*" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="ion" OWNER="root" GROUP="video" MODE="0660"

# camera and related devices
KERNEL=="torch" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="ov*" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="focuser*" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="camera*" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="imx*" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="sh5*" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="tps*" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="mipi-cal" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="ar*" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="camchar*" OWNER="root" GROUP="video" MODE="0660"
KERNEL=="capture-*" OWNER="root" GROUP="video" MODE="0660"

LABEL="nvidia_end"
