[Unit]
Description=fstrim storage partition

[Service]
Type=simple
ExecStart=[ -f /flash/kernel.img ]  || /usr/sbin/fstrim /storage

[Install]
WantedBy=basic.target
