<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- GENERAL -->
    <category label="$LOCALIZE[128]">
        <setting label="30500" type="lsep" />
        <setting label="30530" type="bool" id="desintitle" default="false" />
        <setting label="30501" type="enum" id="descolor" enable="eq(-1,true)" lvalues="30520|30521|30522|30523|30524" default="4" />
    </category>
</settings>
