################################################################################
# udev rules file for wlan_sdio
################################################################################

ACTION!="add", GOTO="end"

### Realtek 8723BS WLAN device
SUBSYSTEMS=="sdio", ATTRS{vendor}=="0x024c", ATTRS{device}=="0xb723", RUN+="/sbin/modprobe -a 8723bs"

LABEL="end"
