SUBSYSTEM!="soc", GOTO="soc_end"
KERNEL!="soc0", GOTO="soc_end"

ATTR{machine}=="jetson_e", RUN+="/bin/ln -sf /etc/X11/xorg.conf.jetson_e /etc/X11/xorg.conf"

LABEL="soc_end"
