#
# Copyright (c) 2016-2018, NVIDIA CORPORATION.  All rights reserved.
#

# Broadcom wifi
ACTION=="add" SUBSYSTEM=="sdio" ATTR{vendor}=="0x02d0" RUN+="/etc/systemd/nvwifibt-pre.sh register $attr{device}"
ACTION=="add" SUBSYSTEM=="pci" ATTR{vendor}=="0x14e4" RUN+="/etc/systemd/nvwifibt-pre.sh register $attr{device}"

# turn on/off bluetooth
# support all versions of bluedroid_pm
ACTION=="change" SUBSYSTEM=="rfkill" ATTR{name}=="bluedroid_pm*" ATTR{state}=="1" RUN+="/bin/systemctl start nvwifibt.service"
ACTION=="change" SUBSYSTEM=="rfkill" ATTR{name}=="bluedroid_pm*" ATTR{state}=="0" RUN+="/bin/systemctl stop nvwifibt.service"
