################################################################################
# udev rules file for loading Wandboard bluetooth firmware
################################################################################

ACTION=="add", SUBSYSTEM=="sdio", ATTR{vendor}=="0x02d0", ATTR{device}=="0x4329", \
  TAG+="systemd", ENV{SYSTEMD_WANTS}+="hciattach-ttymxc2@bcm43xx.service"
ACTION=="add", SUBSYSTEM=="sdio", ATTR{vendor}=="0x02d0", ATTR{device}=="0x4339", \
  TAG+="systemd", ENV{SYSTEMD_WANTS}+="hciattach-ttymxc2@bcm43xx.service"
