[Unit]
Description=WeTek DVB driver
DefaultDependencies=no
Before=local-fs.target shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/sbin/insmod /lib/modules/wetekdvb.ko
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
