[Unit]
Description=Debug Shell on /dev/ttyS0
DefaultDependencies=no

[Service]
WorkingDirectory=/storage
ExecStart=/bin/sh -c '. /etc/profile; exec /bin/sh'
Restart=always
RestartSec=0
StandardInput=tty
TTYPath=/dev/ttyS0
TTYReset=yes
TTYVHangup=yes
KillMode=process
IgnoreSIGPIPE=no
# bash ignores SIGTERM
KillSignal=SIGHUP

[Install]
WantedBy=sysinit.target
