[Unit]
Description=imx6 poweroff service
Before=systemd-poweroff.service
After=kodi-poweroff.service
DefaultDependencies=no

[Service]
Type=oneshot
Environment=HOME=/storage
ExecStart=-/bin/sh -c "echo 0 > /sys/class/leds/imx6\:red\:front/brightness; echo 1 > /sys/class/graphics/fb0/blank"
StandardError=null
RemainAfterExit=yes

[Install]
WantedBy=poweroff.target
